@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
}

.customWidth {
    min-width: 500px;;
}

.listWidth {
    max-width: 800px;
}

.listWidthDefault {
    max-width: 500px;
}

.responsiveNav {
    display: block;
}

@media (max-width: 768px) {
    .responsiveNav {
        display: none;
    }
}

.shadow-center {
    -webkit-box-shadow: 0px 0px 44px 8px rgba(161,222,255,1);
    -moz-box-shadow: 0px 0px 44px 8px rgba(161,222,255,1);
    box-shadow: 0px 0px 44px 8px rgba(161,222,255,1);
}